<ion-content [fullscreen]="true">
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-avatar slot="start">
        <img src="../../assets/icon/raspberry-favicon.png" alt="avatar" />
      </ion-avatar>
      <ion-title>
        FILMES - Piores Filmes do Golden Raspberry Awards
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-card-header>
          <ion-card-title>FILTROS</ion-card-title>
        </ion-card-header>

        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-item>
                <ion-card-subtitle>Filtrar por ano</ion-card-subtitle>
              </ion-item>

              <ion-item class="ion-item-searchbar-filter">
                <ion-searchbar class="searchbar-filter" [(ngModel)]="inputYear" placeholder="Year"
                  show-clear-button="always">
                </ion-searchbar>
                <ion-button (click)="filterYear()" [disabled]="inputYear.length < 4">Filtrar</ion-button>
              </ion-item>
              <ion-item>
                <span class="error-message" *ngIf="inputYear.length < 4">Por favor insira 4 caracteres para a busca...</span>
              </ion-item>
            </ion-col>
            <ion-col size="3">

              <ion-item>
                <ion-card-subtitle>Filtrar por vencedores</ion-card-subtitle>
              </ion-item>

              <ion-item>
                <ion-radio-group [allowEmptySelection]="true" [(ngModel)]="inputWinner" (ionChange)="filterWinner()">
                  <ion-radio class="radio-filter" value="default" selected>SIM/NÃO</ion-radio>
                  <ion-radio class="radio-filter" value="true">SIM</ion-radio>
                  <ion-radio class="radio-filter" value="false">NÃO</ion-radio>
                </ion-radio-group>
              </ion-item>

            </ion-col>

          </ion-row>
        </ion-grid>
        <ion-button (click)="clearFilter()" fill="clear">Limpar filtros</ion-button>
        <ion-item>
          <ion-label color="primary">ID</ion-label>
          <ion-label color="primary">ANO</ion-label>
          <ion-label color="primary">TITULO</ion-label>
          <ion-label color="primary">VENCEDOR</ion-label>
          <ion-label color="primary">PRODUTORES</ion-label>
          <ion-label color="primary">STUDIOS</ion-label>
        </ion-item>

      </ion-col>
      <ion-col size-md="12">
        <ion-list *ngIf="paginationMovies">
          <ion-item *ngFor="let item of paginationMovies.content; let index">
            <ion-label>{{ item.id }}</ion-label>
            <ion-label>{{ item.year }}</ion-label>
            <ion-label>{{ item.title }}</ion-label>
            <ion-label>{{ item.winner ? 'SIM' : 'NÃO' }}</ion-label>
            <ion-label>
              <ion-button (click)="presentAlertProducers(item.producers)">VER</ion-button>
            </ion-label>

            <ion-label>
              <ion-button (click)="presentAlertStudios(item.studios)">VER</ion-button>
            </ion-label>

          </ion-item>

          <ion-item *ngIf="!paginationMovies.content.length">
            <ion-label>Não foi encontrado dados correspondente ao filtro</ion-label>
          </ion-item>
        </ion-list>

        <ion-item *ngIf="!paginationMovies">
          <ion-label>Carregando...</ion-label>
          <ion-spinner name="circular"></ion-spinner>
        </ion-item>

        <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
        </ion-infinite-scroll>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>