.searchbar-filter {
    width: 400px;
    padding-left: 2px;   
    height: 83px; 
}

.radio-filter {
    font-size: 14px;
    height: 25px;
    margin-bottom: 3px;
}

span {
    font-size: 12px;
    padding-bottom: 30px;
}

.ion-item-searchbar-filter {
    margin-bottom: -10px;
}

.error-message {
    color: indianred;
}